#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 80%;
    height: 200px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.swiper-button-prev,
.swiper-rtl,
.swiper-button-next {
    color: #000;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: #000;
}